.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.custom-label{
  text-align: right;
}
.custom-header{
   background-color: #3a87aa;
    /* height: 36% !important; */
    height: 54px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.custom-grid{
  height: 80%;
  background-color: #76c3d7;
  padding: 10%;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
}
.custom-changes{
  padding-top: 8%;
}
.default-bg-color{
  background-color: #e0e5ed;
}
.custom-padding{
  padding-top: 5%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
